.studentcontain {
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 3;
}
.programcontain{
  position: absolute;
  top: 50px;
  left: 20px;
}
.collegecontain{
  position: absolute;
  top: 50px;
  left: 20px;
}
.background {
  height: 100vh;   
  width: 100vw;    
  
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.navbar {
    background: transparent !important;
  position: absolute;   
  top: 10vh !important;;              
  left: 0;              
  width: 100%;          
  border-bottom: 0.1vw solid #cccccc; 
  z-index: 2;           
}

.sidebar {
  position: absolute;
  top: 10vh;                  
  right: 86vw;                
  width: 1%;                 
  height: 90vh;               
  border-right: 0.1vw solid #cccccc;
  z-index: 2;
  font-size: 24;

}
.studentbutton{
  position: absolute  ;
  color: #2E3070;
   top: -10vh;  
    left :40vw;
    font-size: 26px;
  background-color: transparent;
   font-family: 'Inter', sans-serif;
  font-weight: 700; 
   width: 6%;   
  height: 4.95vw;
 text-align: right;   
  padding-left: 6px;
  border-radius: 0;
  
    border: none;        
  outline: none;      
  background: transparent; 
  cursor: pointer;
  transition: all 0.2s linear;
}
.studentbutton:hover{
  background-color: #e2e0e0;
  border: none;      
  outline: none;  

}
.studentbutton:active{
  
  border: none;       
  outline: none;  
  height: 5vw;
}

.studentbutton:focus{
  color: #5C5EAD;
  background-color: transparent;
  outline: none; 
  border: none; 
}

.programbutton{
  position: absolute  ;
  color: #2E3070;
   top: -10vh;  
   left :54vw;
    font-size: 26px;
  background-color: transparent;
   font-family: 'Inter', sans-serif;
  font-weight: 700; 
  width: 6vw;   
  height: 5vw;
  border-radius: 0;
   text-align: left;   
  padding-left: 9px;
  transition: all 0.2s linear;
   border: none;      
  outline: none; 
}
.focusprogram{
  position: absolute;   
  top: -10vh;              
  left: 47vw;              
  width: 6%;          
 
  z-index: 2;  
}
.programbutton:focus{
  color: #5C5EAD;
  background-color: transparent;
  outline: none; 
}
.programbutton:hover{
  background-color: #e2e0e0;
  border: none;      
  outline: none;  

}

.collegebutton{
  position: absolute  ;
  color: #2E3070;
    top: -10vh; 
    left :47vw;
    font-size: 26px;
  background-color: transparent;
   font-family: 'Inter', sans-serif;
  font-weight: 700; 
  width: 6vw;   
  height: 5vw;
  border-radius: 0;
   text-align: left;   
  padding-left:5px; 
  padding-right: 0;  
  transition: all 0.2s linear;
  border: none;
  outline: none;
}
.collegebutton:focus{
  color: #5C5EAD;
  background-color: transparent;
  outline: none; 
}
  .focuscollege{
    position: absolute;   
    top: -10vh;              
    left: 54vw;              
    width: 6%;          
   
    z-index: 2;  
  }
  .collegebutton:hover{
  background-color: #e2e0e0;
  border: none;       
  outline: none;  

}
  



.underline {
  position: absolute;   
  left: -12vw;              
  width: 12vw;          
  height: 0;                 
  border-bottom: 0.1vw solid #cccccc; 
  z-index: 2;

}
.recent{
  position: absolute;
  color:#2E3070;
  top: 18vh;
  left: -10.7vw;
  width: 10vw;
   font-weight: 700; 
font-family: 'Inter', sans-serif;
}

.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #5C5EAD;
  border-radius: 50%;
  display: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 200px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  transition: 0.2s;
  margin-top:-70px ;
 
}

.profile-circle:hover {
  background-color: #7073d5;
  transform: scale(1.05);
}

.profile-initial {
  position: relative;
 right: -18px;
  top: 10px;
}
